<% if (!session["usuario"]) %>

<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'effects' %>

<h1 align="center">Ingreso</h1>

<div align="center">
<% form_for :datos, :url => { :action => "autenticar" } do |f| %>
  <p>
    <%= f.label :usuario %>  (Ej: 'jperez')<br />
    <%= f.text_field :usuario %>
  </p>
  <p>
    <%= f.label :password %>  (Ej: 'secret')<br />
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.submit "Ingresar" %>
  </p>
  <p id="notice">
    <%= flash[:notice] %>
  </p>
<% end %>

</div>

<script type="text/javascript">
document.getElementById('datos_usuario').focus();
<% if flash[:notice] %>
  <%= visual_effect :fade, 'notice', { :duration => 2.0, :from => 1, :to => 0, :delay => 4 } %>
<% end %>
</script>

<%else%>
<%= render :partial => "main/unauthorized" %>
<%end%>