<% if ((session["usuario"])&&(session["usuario"].administrador == true)) %>
<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'effects' %>

<h1 align="center">Carreras Registradas</h1>
<br />
La siguiente lista muestra las carreras disponibles para el registro de usuarios.
<br /><br />
<% if @carreras.length != 0 %>
<table align="center">
  <tr>
    <th>Nombre</th>
  </tr>

<% @carreras.each do |carrera| %>
  <tr>
    <td><%=h carrera.nombre %></td>
    <td><%= link_to 'Eliminar', carrera, :confirm => '¿Esta seguro de eliminar la carrera?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
    <center>La lista de carreras está vacía.</center>
    <br />
<% end %>
<br />

<center>
    <%= button_to 'Ingresar una carrera', new_carrera_path %>
</center>

<br />
<p id="notes" align="center">
    <b><%= flash[:anuncio0] %></b>
</p>
<script type="text/javascript">
  <% if (flash[:anuncio0]) %>
    <%= visual_effect :fade, 'notes', { :duration => 2.0, :from => 2, :to => 0, :delay => 4 } %>
  <% end %>
</script>
<%else%>
<%= render :partial => "main/unauthorized" %>
<%end%>