<% if ((session["usuario"])&&(session["usuario"].administrador == true)) %>

<%= stylesheet_link_tag 'blue/style.css' %>
<%= javascript_include_tag 'frameworks/jquery-1.3.2.min.js' %>
<%= javascript_include_tag 'frameworks/jquery.tablesorter.min.js' %>

<h1 align="center">Reporte de dominancias</h1>
<br />
<h3>TestPsicológico: <%= @prueba.nombre %></h3>
<h3>Personas incluidas en la muestra: <%= @cant_usuarios %></h3>
<br />
<h3 align="center"><label>Filtros Utilizados</label></h3>
<div id="div_filtros">
  <% if @filtros.length != 0 %>
  <table align="center" border="5">
    <tr>
      <th>Filtro</th>
      <th>Valor</th>
    </tr>
    <% @filtros.each do |filter_element| %>
    <tr>
        <td><%= filter_element[:campo] %></td>
        <td><%= filter_element[:valor] %></td>
    </tr>
    <% end %>
  </table>
  <% else %>
<center>No se utilizaron filtros en este reporte.</center>
  <% end %>
</div>
<br />
<% if (@cant_usuarios > 0) %>
<table id="myTable" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Lógico</th>
      <th>Formal</th>
      <th>Emotivo</th>
      <th>Intuitivo</th>
    </tr>
  </thead>
  <tbody>
    <% @lista_hashes.each do |item| %>
    <tr>
      <td><%= item[:nombre] %></td>
      <td><%= item[:evaluacion].puntaje_logico %> </td>
      <td><%= item[:evaluacion].puntaje_formal %> </td>
      <td><%= item[:evaluacion].puntaje_emotivo %> </td>
      <td><%= item[:evaluacion].puntaje_intuitivo %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<br />
<table id="myTableComp" class="tablesorter" border="0" cellpadding="0" cellspacing="1">
  <thead>
    <tr>
      <th>Nombre</th>
      <th title="Realista">Realist</th>
      <th title="Idealista">Idealist</th>
      <th title="Cognitivo">Cognit</th>
      <th title="Instintivo">Instin</th>
      <th title="Balanceado">Balanc</th>
      <th title="Inventor">Invent</th>
      <th title="Planificado">Planif</th>
      <th title="Colaborativo">Colab</th>
      <th title="Implementador">Implem</th>
      <th title="Ejecutivo">Ejecut</th>
    </tr>
  </thead>
  <tbody>
    <% @lista_hashes.each do |item| %>
    <tr>
      <td><%= item[:nombre] %></td>
      <td><%= item[:evaluacion].puntaje_realista %> </td>
      <td><%= item[:evaluacion].puntaje_idealista %> </td>
      <td><%= item[:evaluacion].puntaje_cognitivo %> </td>
      <td><%= item[:evaluacion].puntaje_instintivo %> </td>
      <td><%= item[:evaluacion].puntaje_balanceado %> </td>
      <td><%= item[:evaluacion].puntaje_inventor %> </td>
      <td><%= item[:evaluacion].puntaje_planificado %> </td>
      <td><%= item[:evaluacion].puntaje_colaborativo %> </td>
      <td><%= item[:evaluacion].puntaje_implementador %> </td>
      <td><%= item[:evaluacion].puntaje_ejecutivo %> </td>
    </tr>
    <% end %>
  </tbody>
</table>

<script type="text/javascript">
  $(document).ready(function()     {         $("#myTable").tablesorter();  $("#myTableComp").tablesorter();     } );
</script>

<% else %>
<center><label>No se encontraron evaluaciones que coincidan con los parámetros de búsqueda</label></center>
<% end %>

<br />
<center><% if (@cant_usuarios > 0) %><%= link_to 'Exportar a Excel', :controller => :reportes, :action => :dominanciaxls, :clv => @code %><% end %> <%= link_to 'Generar otro reporte', :controller => :reportes, :action => :panel %></center>
<br />


<%else%>
<%= render :partial => "main/unauthorized" %>
<%end%>