<% if ((session["usuario"])&&(session["usuario"].administrador == true)) %>
<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'effects' %>

<h1 align="center">Instituciones Registradas</h1>
<br />
La siguiente lista muestra las instituciones disponibles para el registro de usuarios.
<br /><br />
<% if @institucions.length != 0 %>
<table align="center">
  <tr>
    <th>Nombre</th>
    <th>Tipo</th>
  </tr>

<% @institucions.each do |institucion| %>
  <tr>
    <td><%=h institucion.nombre %></td>
    <td><%=h institucion.tipo %></td>
    <td><%= link_to 'Tags', :controller => :tags, :action => :index, :institucion => institucion.id.to_s %></td>
    <td><%= link_to 'Editar', edit_institucion_path(institucion) %></td>
    <td><%= link_to 'Eliminar', institucion, :confirm => '¿Está seguro de eliminar la institución?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
    <center>La lista de instituciones está vacía.</center>
    <br />
<% end %>


<br />
<center>
  <%= button_to 'Ingresar una institución', new_institucion_path %>
</center>

<br />
<p id="notes" align="center">
    <b><%= flash[:anuncio0] %></b>
</p>
<script type="text/javascript">
  <% if (flash[:anuncio0]) %>
    <%= visual_effect :fade, 'notes', { :duration => 2.0, :from => 2, :to => 0, :delay => 4 } %>
  <% end %>
</script>
<%else%>
<%= render :partial => "main/unauthorized" %>
<%end%>