<% if ((session["usuario"])&&(session["usuario"].administrador == true)) %>
<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'effects' %>

<h1 align="center">
  <%= @institucion.nombre %>: Lista de Tags
</h1>
<br />
La siguiente lista muestra los Tags (Etiquetas de grupo) disponibles para el registro de usuarios.
<br /><br />
<% if @tags.length != 0 %>
    <table align="center">
      <tr>
        <th>Nombre</th>
        <th>Código</th>
      </tr>

    <% @tags.each do |tag| %>
      <tr>
        <td><%=h tag.nombre %></td>
        <td><%=h tag.codigo %></td>
        <td><%= link_to 'Eliminar', tag, :confirm => '¿Estas seguro de eliminar el tag?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>

<% else %>
    <center>La lista de tags está vacía.</center>
    <br />
<% end %>

<br />
<center>
  <%= link_to 'Nuevo tag', :controller => :tags, :action => :new, :institucion => @institucion.id  %> |
  <%= link_to 'Lista de Instituciones', :controller => :institucions, :action => :index  %>
</center>

<br />
<p id="notes" align="center">
    <b><%= flash[:anuncio0] %></b>
</p>
<script type="text/javascript">
  <% if (flash[:anuncio0]) %>
    <%= visual_effect :fade, 'notes', { :duration => 2.0, :from => 2, :to => 0, :delay => 4 } %>
  <% end %>
</script>
<%else%>
<%= render :partial => "main/unauthorized" %>
<%end%>