<% if ((session["usuario"])&&(session["usuario"].administrador == true)) %>

<%= stylesheet_link_tag 'sexyalertbox.css' %>
<%= javascript_include_tag 'frameworks/mootools-1.2-core.js' %>
<%= javascript_include_tag 'frameworks/mootools-1.2-more.js' %>
<%= javascript_include_tag 'frameworks/sexyalertbox.v1.2.moo.js' %>
<%= javascript_include_tag 'validacion/gen_validatorv31.js' %>

<script type="text/javascript">
  window.onload = function()
  {
    document.getElementById("linkNP").onclick=function()
    {
      <% @pregunta = Pregunta.new %>
      Sexy.alert('<h1>Nueva Pregunta</h1><br />'
      + '<% form_for(@pregunta, :html => {:id => "new_pregunta_form" }) do |f| %> '
      + '<p> <%= f.label 'Ingrese el texto a mostrar:' %><br /> <%= f.text_area :texto, :rows => 6 %><br />(máximo 70 caracteres)  <%= hidden_field :pantalla, :id, :value => "Crear" %></p> '
      + '<p> <%= f.submit "Crear" , :name => "sender" %></p>'
      + '<% end %>');

      //Se da "Cancelar" como texto al boton OK
      document.getElementById('BoxAlertBtnOk').value = "Salir";
      
      //Validación para la creación de las preguntas
      
      var frmvalidator0  = new Validator("new_pregunta_form");
      frmvalidator0.addValidation("pregunta[texto]","req","Ingrese una pregunta");
      frmvalidator0.addValidation("pregunta[texto]","extended_alphabetic_space","Error: Se han ingresado caracteres restringidos");
      frmvalidator0.addValidation("pregunta[texto]","maxlen=70","El texto solo admite un máximo de 70 caracteres");
    };

    if (alerta_texto)
      alert(alerta_texto);
  };
</script>

<%#Formulario%>
<% num_pregunta_falla = 0 %>

<h2>Nuevo Test Psicológico</h2>
<%= button_to 'Crear Test',:controller => :pruebas, :action => 'orquestar_create' %>
<br />
<div>Instrucciones: Para crear el test psicológico debes llenar los datos básicos e ingresar las preguntas. Si deseas desplegar o contraer la información de las secciones puedes hacer clic en los temas. Cuando termines de ingresar la información del test, haz clic en la opción "Crear Test".</div>
<br />
<h3><label onclick="document.getElementById('prueba_nombre').focus();var bloque = new Fx.Slide('informacion_basica');bloque.toggle();return false;">Datos Básicos >> </label></h3>
<div id="informacion_basica">
<% form_for(@prueba, :html => {:id => "new_prueba_form" }) do |f| %>
  <%= f.error_messages %>
      <br />
      <p>
        <%= f.label :nombre %><br />
        <%= f.text_field :nombre %>
      </p>
      <p>
        <%= f.label :autor %><br />
        <%= f.text_field :autor %>
      </p>
      <p>
        <%= f.label 'Descripción (máximo 800 caracteres)' %><br />
        <%= f.text_area :descripcion , :rows => 4, :cols => 50, :onchange => "cont1upd();" %><br />
        <input id="cont1" type="text" size="4" value="0" readonly> caracteres
        <script type="text/javascript">
          function cont1upd()
          {
            var area1 = document.getElementById("prueba_descripcion");
            var contador1 = document.getElementById("cont1");
            contador1.value = area1.value.length;
          }
          cont1upd();
        </script>
      </p>
      <p>
        <%= f.label 'Instrucciones (máximo 800 caracteres)' %><br />
        <%= f.text_area :instrucciones , :rows => 4, :cols => 50, :onchange => "cont2upd();"  %><br />
        <input id="cont2" type="text" size="4" value="0" readonly>  caracteres
        <script type="text/javascript">
          function cont2upd()
          {
            var area2 = document.getElementById("prueba_instrucciones");
            var contador2 = document.getElementById("cont2");
            contador2.value = area2.value.length;
          }
          cont2upd();
        </script>
      </p>
      <p>
        <%= f.submit 'Guardar Datos Básicos' %>
      </p>
      <br />
<% end %>
</div>
<br />
<script type="text/javascript">
    var frmvalidator  = new Validator("new_prueba_form");
    frmvalidator.EnableMsgsTogether();
    frmvalidator.addValidation("prueba[nombre]","req","Ingrese el nombre del test psicológico");
    frmvalidator.addValidation("prueba[nombre]","alphabetic_space","El nombre solo permite valores alfabéticos");
    frmvalidator.addValidation("prueba[nombre]","maxlen=50","El nombre solo admite un máximo de 50 caracteres");
    frmvalidator.addValidation("prueba[autor]","req","Ingrese el nombre del autor del test psicológico");
    frmvalidator.addValidation("prueba[autor]","alphabetic_space","El nombre del autor solo permite valores alfabéticos");
    frmvalidator.addValidation("prueba[autor]","maxlen=50","El autor solo admite un máximo de 50 caracteres");
    frmvalidator.addValidation("prueba[descripcion]","req","Ingrese una descripción para el test psicológico");
    frmvalidator.addValidation("prueba[descripcion]","alphanumeric_space","La descripción solo permite valores alfanuméricos");
    frmvalidator.addValidation("prueba[descripcion]","maxlen=800","La descripción solo admite un máximo de 800 caracteres");
    frmvalidator.addValidation("prueba[instrucciones]","req","Ingrese instrucciones para rendir el test");
    frmvalidator.addValidation("prueba[instrucciones]","alphanumeric_space","Las instrucciones solo permiten valores alfanuméricos");
    frmvalidator.addValidation("prueba[instrucciones]","maxlen=800","Las instrucciones solo admiten un máximo de 800 caracteres");

    var myDiv = new Fx.Slide('informacion_basica');
    myDiv.hide();
</script>
<%# Fin Formulario%>


  <%# Rasgos%>

<h3><label onclick="var bloque = new Fx.Slide('tabla_rasgos');bloque.toggle();return false;">Lista de Rasgos >> </label></h3>

  <table border=1 cellspacing=0 cellpadding=2 bordercolor="000000" id="tabla_rasgos">
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
    </tr>

  <% @rasgos.each do |rasgo| %>
    <tr>
      <td> <%=h rasgo.rasgo.nombre %> </td>
      <td> <%=h rasgo.rasgo.descripcion %> </td>
    </tr>
  <% end %>
  </table>

  <script type="text/javascript">
              var myTable = new Fx.Slide('tabla_rasgos');
              myTable.hide();
  </script>
<%# Fin Rasgos%>
  <br />

<%# Preguntas%>

  <h3>Preguntas >> </h3>
  <% bloques_indice = 0 %>
  <% lista_negra_index = 0 %>
  <% lista_malas = [] %>
  <% @preguntas.each do |pregunta| %>
    <br />
    <p>
      <% bloques_indice = bloques_indice + 1 %>
      <%= bloques_indice %>. <a href="#" id="link_pregunta<%= pregunta.identificador_pregunta.to_s %>" onclick="var bloque = new Fx.Slide('alternativas_pregunta<%= pregunta.identificador_pregunta.to_s %>');bloque.toggle();return false;"><b><%= pregunta.pregunta.texto %></b></a>&nbsp;
      (<%= link_to 'Eliminar', {:controller => "preguntas", :action => "eliminar", :id => pregunta.identificador_pregunta}, :confirm => "La acción tomada eliminará la pregunta y sus alternativas. ¿Desea continuar?", :method => 'eliminar' %>)
    </p>
    <% #solo se ejecuta cuando he tratado de orquestar create o update y hubo un error en una(s) pregunta(s)
    if (flash[:lista_negra] && (flash[:lista_negra][lista_negra_index]) && (flash[:lista_negra][lista_negra_index].to_s == pregunta.identificador_pregunta.to_s))
      num_pregunta_falla = bloques_indice
      lista_malas << bloques_indice #lista con numeros de pregunta que fallan
      lista_negra_index = lista_negra_index + 1
    end
    %>
    <table id="alternativas_pregunta<%= pregunta.identificador_pregunta.to_s %>" >
      <tr>
        <th>Rasgo</th>
        <th>Texto</th>
      </tr>
    <% pregunta.alternativas.each do |alternativa| %>

      <%#prueba%>
      <tr>
        <% form_for(alternativa.alternativa, :html => {:id => "new_alternativa_form_"+pregunta.identificador_pregunta.to_s+'_'+alternativa.identificador_alternativa.to_s }) do |f| %>
        <td>
          <%= hidden_field :identidad, :id, :value => alternativa.identificador_alternativa %>
          <%= f.collection_select(:rasgo_id, @rasgos, :identificador_rasgo, :nombre, options = {:prompt => "Select un rasgo"}, :class =>"RasgoItem") %>
        </td>
        <td>
          <%= f.hidden_field :pregunta_id %>
          <%= f.text_field :texto %>
        </td>
        <td>
          <%= f.submit 'Guardar', :name => 'altersender'+alternativa.alternativa.pregunta_id.to_s+'_'+alternativa.identificador_alternativa.to_s %>
        </td>
        <%end%>
      </tr>
      <%#prueba%>
      
    <% end %>
    </table> <%# Aqui termina el slider%>
  <% end %>
  <br />

  <a href="#" id="linkNP" name="add_pregunta">Añadir pregunta</a>

  <br />
  <br />
  <%= link_to "Lista de test psicológicos", :controller => 'main', :action => 'tablero'%>

<%# Fin Preguntas%>

<%else%>
<%= render :partial => "main/unauthorized" %>
<%end%>

  <script type="text/javascript">
   
    <% @preguntas.each do |pregunta| %>
        <% pregunta.alternativas.each do |alternativa| %>
            var frmval  = new Validator("new_alternativa_form_"+<%=  pregunta.identificador_pregunta.to_s %>+'_'+<%= alternativa.identificador_alternativa.to_s %>);
            
            frmval.addValidation("alternativa[texto]","req","Por favor ingrese el texto de la alternativa");
            //frmval.addValidation("alternativa[texto]","alphanumeric_space","El texto solo permite valores alfanuméricos");

        <% end %>
    <% end %>

    <%
    emensaje = ""
    if (flash[:notice2] && (flash[:notice2].to_s != "-99") && (flash[:basico_negra]) && ((flash[:basico_negra][0] == 1) || (flash[:basico_negra][1] == 1) || (flash[:lista_negra].length > 0)))
      emensaje = "Se ha encontrado los siguientes errores:\\n"
      if (flash[:basico_negra][0] == 1)
        emensaje = emensaje + '- Datos básicos \\n'
      end
      if (flash[:basico_negra][1] == 1)
        emensaje = emensaje + '- No existen preguntas \\n'
      else
        lista_malas.each do |sa|
          emensaje = emensaje + '- Pregunta '+sa.to_s+' \\n'
        end
      end

    end
  %>

  <% if (emensaje != "") %>
      var alerta_texto = "<%= emensaje %>";
  <% end %>
    
  <% if flash[:pregunta_creada] == 'si' %>
    document.getElementById('linkNP').focus();
  <% end %>


  <% if (flash[:alternat_updt_altid]) %>
      document.getElementsByName('altersender<%=flash[:alternat_updt_preid]%>_<%=flash[:alternat_updt_altid]%>')[0].focus();
  <% end %>

  </script>