<% if ((session["usuario"])&&(session["usuario"].administrador)) %>
<%= javascript_include_tag 'prototype' %>
<%= javascript_include_tag 'effects' %>

<h1 align="center">Lista de usuarios</h1>
<br />
La siguiente lista muestra los usuarios registrados en el sistema.
<br /><br />
<% if @usuarios.length != 0 %>
<table align="center">
  <tr>
    <th>Nombre</th>
    <th>Fecha nacimiento</th>
    <th>Sexo</th>
    <th>Institución</th>
    <th>Carrera</th>
  </tr>

<% @usuarios.each do |usuario| %>
  <tr>
    <td><%=h usuario.nombre %></td>
    <td><%=h usuario.fecha_nacimiento.strftime('%d/%m/%Y') %></td>
    <td><%=h usuario.sexo %></td>
    <% if usuario.institucion %>
      <td><%=h usuario.institucion.nombre %></td>
    <% else %>
      <td>Ninguna</td>
    <% end %>
    <% if usuario.carrera %>
    <td><%=h usuario.carrera.nombre %></td>
    <% else %>
      <% if usuario.consulta_universidad %>
        <td>Otra carrera</td>
      <% else %>
        <td>Ninguna</td>
      <% end %>
    <% end %>
    <td><%= link_to 'Detalles', usuario %></td>
    <td><%= link_to 'Eliminar', usuario, :confirm => '¿Confirma la eliminación?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% else %>
    <center>La lista de usuarios está vacía.</center>
    <br />
<% end %>
<p id="notes" align="center">
    <b><%= flash[:anuncio0] %></b>
</p>
<script type="text/javascript">
  <% if (flash[:anuncio0]) %>
    <%= visual_effect :fade, 'notes', { :duration => 2.0, :from => 1, :to => 0, :delay => 4 } %>
  <% end %>
</script>
<br />

<%else%>
<%= render :partial => "main/unauthorized" %>
<%end%>